<jad-header></jad-header>

<jad-student *ngFor="let student of students" [student]="student"></jad-student> <!-- Usando diretiva -->

<jad-student></jad-student> <!-- caso não passamos nenhuma propriedade, irá dar um erro no console -->
                            <!-- para evitar isso usamos o operador de navegação segura -->
<!-- Passando valores por property binding para o componente -->

<!-- <jad-student name="Luke" [isJedi]="true"></jad-student>
<jad-student name="Han Solo" [isJedi]="false"></jad-student>
<jad-student name="Leia" [isJedi]="false"></jad-student> -->

<!-- <jad-student [student]="luke"></jad-student>
<jad-student [student]="han"></jad-student>
<jad-student [student]="leia"></jad-student> -->